<h1 class="colorrino">Modifica il tuo  Tour</h1>

<%= render 'form', tour: @tour %>
<br>
<div>
<%= link_to 'Mostra', @tour,class:"btn btn-secondary w-100" %> 

<br>
<br>
<%= link_to 'Indietro', tours_path,class:"btn btn-info w-100" %>
</div>